# Make file

# Folders
quad_copter.X/
nbproject/
build/
OUT/
BIN/

# Object Files
*.o
*.o.d
*.map
*.elf
*.hex

# vim files
*.swp

# Project Crap
*.properties
*.mk
*.xml

# Tags
tags
tags-he

# dependencies files
.depend

# KiCad
_saved_quad_copter_pcb.sch
